<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-12-31T00:16:50Z</date>
	<key>WorkspacePath</key>
	<string>../../screensaver_00.xcodeproj</string>
</dict>
</plist>
